<h3>You did it! You registered!</h3>

Hi {{ username }}! You're successfully registered to RATELIMITED. (Or, if you were a previous member, you've been automatically migrated to v3)

In order to activate your account, please go to: <a href="https://api.ratelimited.me/users/{{ user_id }}/verify_email/{{ verification_id }}">https://api.ratelimited.me/users/{{ user_id }}/verify_email/{{ verification_id }}</a>.

Thanks!